.todo-item {
  display: grid;
  grid-template-columns: min-content max-content minmax(0, 1fr) min-content min-content;
}

.todo-item > .todo-text {
  word-wrap: break-word;
}

.todo-item  > .remove-btn {
  align-self: start;
  outline: 0;
}